@font-face {
    font-family: "Herborn";
    src: url("Herborn.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #C0EEE4;
}

.header {
    display: flex;
    justify-content: space-between;
}

#title {
    font-family: Herborn, serif;
    color: #000000;
    font-size: 50px;
    position: relative;
    bottom: 100px;
    left: 125px;
}

#logo {
    position: relative;
    top: 20px;
    width: 100px;
}

.searching {
    position: relative;
    right: 50px;
}

#imgSearch {
    position: relative;
    top: 20px;
    left: 15px;
    width: 100px;
}

#search {
    font-size: 30px;
    text-indent: 10px;

    position: relative;
    width: 500px;
    height: 50px;
    bottom: 30px;

    background: #FFFFFE;
    border-radius: 7px;
}
a {
    border: 1px solid #333;
    font-size: 30px;
    text-align: center;
    align-items: center;

    position: relative;
    width: 200px;
    height: 200px;

    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.pointer-device a:hover {
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    transform: translateY(-10px);
}

.touch-device a:active {
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    transform: translateY(-10px);
}

.scrollMenu1 a {
    background: #F8F988;
}

.scrollMenu2 a {
    background: #FFCAC8;
}

.scrollMenu3 a {
    background: #FF9E9E;
}

.scrollMenu4 a {
    background: #56BBF1;
}

.scrollMenu1, .scrollMenu2, .scrollMenu3, .scrollMenu4 {
    scroll-snap-type: x mandatory;
    margin-left: 50px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.notify{
    width: 250px;
    height: 50px;

    position: fixed;
    right: 50px; /* Расстояние от правого края окна браузера */
    bottom: 0;
    padding: 10px; /* Поля вокруг текста */
    border: 1px solid #333; /* Параметры рамки */

    background: #D09CFA;
    border-radius: 50px 50px 0 0;
}
a p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}
p{
    text-align: center;
    font-family: Herborn, serif;
}

@media screen and (max-width: 1160px) {
    #search{
        display: none;
    }
}

@media screen and (max-width: 630px) {
    #title{
        display: none;
    }
}